@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Manrope', sans-serif;
}
body {
   background: linear-gradient(45deg, #b6a7f8, #e7b75d);
   background-repeat: no-repeat;
   min-height: 100vh;
   margin: 0;
}
.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   h1 {
      text-align: center;
   }
}
.flex-slider {
   overflow: hidden;
   
   position: relative;
   border-radius: 20px;
}
.slider {
   transform: translateZ(0);
   position: relative;
   width: 798px;
   height: 500px;
   border-radius: 20px;
   box-shadow: 10px 10px 44px -18px black;
   display: flex;
   -webkit-overflow-scrolling: touch;
   transition: 0.8s;

   .slide {
      position: relative;
      width: 100%;
      height: 100%;

      span {
         position: absolute;
         font-size: 25px;
         font-weight: 700;
         color: white;
         background-color: rgba($color: #181111, $alpha: 0.3);
         border-radius: 10%;
         padding: 5px;
         right: 40px;
         top: 20px;
      }
      img {
         height: 100%;
         width: 800px;
      }
   }

   .slide.active {
      display: block;
   }
}

.dots {
   display: flex;
   justify-content: center;
   .dot {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: rgb(114, 114, 114);
      margin: 5px 10px;
      cursor: pointer;
   }
   .dot.active {
      transition: 0.8s;
      background-color: #181111;
   }
}
.dot:hover {
   box-shadow: 0px 0px 10px 2px rgba(24, 231, 117, 0.74);
   transition: 0.5s;
}
.btn {
   z-index: 5;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;

   img {
      height: 70px;
      filter: invert(0.9);
   }
}
//    .btn-next:hover,
//    .btn-prew:hover {
//       transition: 0.5s;
//       width: 60px;
//    }
.btn-prew {
   //  border-bottom-right-radius: 50%;
   //  border-top-right-radius: 50%;
   left: 10px;
   opacity: 0.4;
}
.btn-next {
   right: 10px;
   //  border-bottom-left-radius: 50%;
   //  border-top-left-radius: 50%;
}

@media screen and (max-width: 450px) {
   .slider {
      width: 340px;
      height: 250px;
      .slide {
         img {
            width: 340px;
            height: 250px;
         }
      }
   }
   .btn img {
      height: 20px;
   }
}
